.search-bar {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid lightgrey;
    margin-bottom: 20px;
}

.left-search-container {
    display: flex;
}

.insta-logo {
    height: 50px;
    padding: 0 10px 0 0;
}

.left-search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-logo {
    padding: 0 10px;
    width: 30px;
}

.search-input {
    width: 300px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border: 2px solid lightgrey;
    color: black;
    border-radius: 5px;
}