/* .post-container {
    margin: 0 auto;
    width: 600px;
    border: 1px solid lightgrey;
}

.post-header {
    display: flex;
    height: 50px;
    align-items: center;
    padding: 10px;
}

.thumbnail {
    height: 100%; 
    border-radius: 50%;
    padding: 10px;
}

.likes-container {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.post-picture {
    width: 100%;
    height: 600px;
}

.like-icon {
    padding-right: 10px;
}

.likes {
    padding: 0;
    margin: 0;
    font-weight: bold;
}
 */
